language: node_js
node_js:
- '0.12'
branches:
  only:
  - master
  - develop
script:
- npm test
deploy:
  provider: npm
  email: dev@developmentseed.org
  api_key:
    secure: RVfosj4tCVB9GG797Qfa9X8U3mC85DRZq0pjalwIfk9z+R2/BU3apqwyRH00jZ0II5ZktNnOCk83efn8HHxbZL6a6Ymm2c74yr977byzT7UlHcYDdcjG3H0cxjhTDgF05rLp1ro1eRjZ7tkha3IB/o7wkyW2ITok4QbMkwRH/T2tAdDmWKMBCsBx9zpcZ1YdObuvzVkuoT7r5A1LK+KN9Ig6W9w3vDEgDtg+FcpN5Vs7P7f2UhLVqyKGJlKqekhsTBsJ7QVAr+MO2OdxLO2kmO/V/29Xmxk7KUcXRZZQ2M8DPle0IF3+qdqPhRlihfb4Qk8jg4t9JKuE756Am6b9+AF1CHYDWus2ZWkhmBJQY8ifC2uauJxzStdj7JRO9S6akE8BdzsTRamBkW5QzcD56RCKZJ+Vr3pBQcKhD5T6u1fnJuXhvSRYWQ+gxfut3333qF7ZnbkxBZsc+K2p377EEQXcHT0mCJEUiOsuEoJLaPg/gwzYz0EqGBxDDxTZROOPzQ1Fa7uuk+IM7eqbpUhtAfQM9z00OkJNrY+ot9og0FB5B2opB4O97CsCGJtSvvaoxcKKRosHouzPv3idsB0ijRfliD5iqBsCBkWSlP3HZX/z282PNgE7B/aNlgAk2N0n8YwbepavGfCuRh5N+bOEOVr2M5LtUhty39vZQfFCzD0=
  on:
    repo: developmentseed/hapi-response-meta
    branch: master

